logs:
  general:
    level: WARN
  access:
    enabled: true

service:
  type: LoadBalancer
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-ipv4: ""

ports:
  web:
    port: 8000
    exposedPort: 80

deployment:
  replicas: 1

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
